<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505621876185-qdr3o48mfmt6eq5hfte6539hdcoldlrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505621876185-qdr3o48mfmt6eq5hfte6539hdcoldlrr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>505621876185-rf4nb3jna22pkcoae6cj1rprvavkooki.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCbQvqmO4rrrA7Gyxox773jGORYt27nWDY</string>
	<key>GCM_SENDER_ID</key>
	<string>505621876185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recoverMe</string>
	<key>PROJECT_ID</key>
	<string>recoverme-a017c</string>
	<key>STORAGE_BUCKET</key>
	<string>recoverme-a017c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505621876185:ios:93b853701027573249ddc8</string>
</dict>
</plist>